:root {
  --color-primary: #070f2b;
  --color-secondary: #ececec;
  --color-accent: #535c91;
  --color-success: #008000;
  --color-error: #9b0000;

  --color-gray: #dedede;
  --color-silver: #c0c0c0;
  --color-link: #0018a8;
  --color-white: #ffffff;
  --color-black: #000000;

  --font-size-default: 18px;

  --border-radius: 10px;
  --box-shadow: 0px 5px 10px var(--color-silver);
}
