:root {
  --color-primary: #070f2b;
  --color-secondary: #ececec;
  --color-accent: #535c91;
  --color-success: #008000;
  --color-error: #9b0000;

  --color-gray: #dedede;
  --color-silver: #c0c0c0;
  --color-link: #0018a8;
  --color-white: #ffffff;

  --font-size-default: 18px;

  --border-radius: 10px;
}
